version="__FPK_VERSION__"
appname="trim.hermes"
desc="${common.desc}"
display_name="${common.display_name}"
maintainer="Hermes on fnOS"
maintainer_url="https://github.com/witrer/hermes-on-fnos"
distributor="witrer"
distributor_url="https://github.com/witrer"
helpurl="https://github.com/witrer/hermes-on-fnos"
os_min_version="1.1.3100"
desktop_uidir="ui"
desktop_applaunchname="trim.hermes.Application"
changelog="${common.changelog}"
source="thirdparty"
install_type="package"
checkport="false"
service_port="19119"
platform="arm"
